/**
 * @file
 * TODO: describe scope for this file.
 */

@import "base";

body {
  background-color: $blue-body;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.animate {
 	@include transition(all 0.4s);
}
#main-nav {
  background-color: $blue-100;
  background-image: url("../images/main-nav-right-shadow.png");
  background-repeat: repeat-y;
  background-position: center right;
  
  .logo {
    margin: $basemargin $basemargin 0 $basemargin;
  }
  .search-block {
    padding: 0 $basemargin;
    position: relative;
    padding-top: 6px;
    padding-bottom: 5px;
    @include box-shadow(0px 1px 0px $white-10);
    border-bottom: 1px solid $black-25;
    
    .form-text {
      border-top: 1px solid $blue-in-blue-50;
      border-bottom: 1px solid $white-10;
      border-left: 0;
      border-right: 0;
      height: 27px;
      width: 101%;
      background-color: $dark-blue;
      padding: 1px 24px 1px 8px;
      color: $white;
      font-weight: 100;
      font-style: italic;
      font-size: 13px;

      &::-webkit-input-placeholder { /* WebKit browsers */
        color: #fff;
        opacity: 1;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #fff;
        opacity: 1;
      }
    }
    .form-submit {
      @include texthidden;
      width: 16px;
      height: 16px;
      display: block;
      background: url("../images/icon-sprite.svg") no-repeat scroll 0 -362px transparent;
      border: 0;
      cursor: pointer;
      float: right;
      position: absolute;
      top: 13px;
      left: 81%;
    }
  }
}

#social {
  margin: 0 auto;
  
  ul {
  	list-style: none;
  	padding-top: 20px;
  	text-align: center;
  	width: 100%;
  	margin: 0;
  	padding: 11px 0 0 0;
  	background: url("../images/social_bg.png") repeat-x scroll 0 0 transparent;
  	
    li {
      display: inline-block;
    }
  }
    a {
    
    &.icon {
      background-image: url("../images/icon-sprite.svg");
      background-repeat: no-repeat;
      height: 20px;
      margin: 0 $basemargin/2;
      display: block;
    }
    &.icon-facebook {
      background-position: 0 0;
      width: 10px
    }
    &.icon-twitter {
      background-position: 0 -34px;
      width: 18px;
    }
    &.icon-rss {
      background-position: 0 -72px;
      width: 18px;
    }
  }
}

.tile {
  width: 50px;
  height: 50px;
  position: relative;
  
  &.tile-dark-blue {
    background-color: $dark-blue;
  }
  i {
    position: absolute; 
  }
  span.shadow {
    background-image: url("../images/main-nav-right-shadow.png");
    background-repeat: repeat-y;
    background-position: top right;
    height: 50px;
    width: 50px;
    position: absolute;
    display: block;
    top: 0;    
  }
}

.hidetext {
  @include texthidden;
}

i {
  width: 50px;
  height: 50px;
  display: block;
}

section {
  margin-left: 20px;
  
  .pane-title {
    font-size: 42px;
    color: $white;
    margin: 74px 0 35px 16px;
    font-weight: 400;
    line-height: 100%;
    font-family: $notosans;
  }
}

// date style
.time {
  line-height: 100%;
  color: $white;
  padding-top: 11px;
  
  span {
    display: block;
    text-align: center;
    font-weight: 700;
    
    &.day {
      font-size: 22px;
      margin-bottom: 3px;
    }
    &.month {
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}


.node-tile {
  width: 300px;
  background-color: #fff;
  margin: 0 5px 5px 0;
  
  .info {
    height: 100px;
    
    .icon {
      background-color: $tile-bg;
    }
    .count {
      text-align: center;
      display:block;
      z-index: 5;
      position: relative;
      font-size: 11px;
      font-weight: 700;
      color: $white;
    }
  }
  .user,
  .date {
    height: 50px;
    width: 50px;
    position: relative;
  }
  .text {
    width: 250px;
    display: table;
    height: 100px;
    
    a {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      color: $tile-link;
      line-height: 120%;
      font-style: normal;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.node-forum {
    
    .icon {
      padding-top: 13px;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -576px;
        z-index: 0;
        top: 0; 
      }
    }
    .user {
      background-color: $forum-orange;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -506px;
      }
    }
  }
  &.node-job {
    
    .icon {
      padding-top: 13px;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -714px;
        z-index: 0;
        top: 0; 
      }
    }
    .user {
      background-color: $job-blue;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -506px;
      }
    }
    .date {background-color: $dark-blue;}
  }
  &.node-add {
    background-color: $node-add-light-green;
    
    .info .icon {
      background-color: $node-add-dark-green;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 13px -922px;
        top: 0;
      }
    }
    a {
      color: $white;
    }
  }
  &.node-esemeny {
    
    .icon {
      padding-top: 13px;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -646px;
        z-index: 0;
        top: 0; 
      }
    }
    .user {
      background-color: $event-orange;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -506px;
      }
    }
    .date {background-color: $event-orange;}
  }
  &.node-news {
    
    .icon {
      padding-top: 13px;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 13px -787px;
        z-index: 0;
        top: 0; 
      }
    }
    .user {
      background-color: $dark-blue;
      
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -506px;
      }
    }
    .date {background-color: $dark-blue;}
  }
  &.node-link {
    overflow: hidden;
    
    .date {
      background-color: $blue;
    }
    .icon {
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 12px -865px;
        z-index: 0;
        top: 0;
      }
    }
    .like {
      padding-top: 13px;
      background-color: $blue-light;
      
      .count {
        color: $dark-blue;
      }
      i {
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        background-position: 10px -1042px;
        z-index: 0;
        top: 0;
      }
    }
    .link-content {
      height: 200px;
      display: block;
      width: 250px;
      position: relative;
      
      .content {
        position: absolute;
      }
      .title {
        padding: 16px 10px;
        line-height: 120%;
        background-color: $white;
        
        a {
          color: $tile-link;
          font-size: 16px;
        }
      }
      .more-text {
        padding: 10px;
        background-color: rgba(255,255,255,0.8);
        height: 200px;
        
        p {
          margin: 0;
        }
      }
      &:hover .content {
        top: 0;
      }
    }
  }
}

article.more {
  width: 100px;
  height: 100px;
  background-color: $node-add-light-green;
  
  .text {
    padding: 0 15px 0 9px;
    margin-top: 60px;
    line-height: 110%;
    background-image: url("../images/icon-sprite.svg");
    background-repeat: no-repeat;
    background-position: 75px -991px;

    a {
      color: $white;
      font-style: normal;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/**
 * breadcrumb
 */
.breadcrumb {
  background-color: transparent;
  margin: 0;
  color: $white;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0 34px;
  
  a {
    color: $blue-body-50;
  }
  & > li + li:before {
    color: $white;
    padding: 0;
  }
}

#page-title {
  font-size: 42px;
  color: $white;
  margin: 0 0 33px 18px;
  font-weight: 400;
  font-family: $notosans;
  max-width: 588px;
}
.page-header {
  border-bottom: 0;
  margin: 0;
  padding-bottom: 0;
}
.node-right {
  width: 555px;
  background-color: $white;
  padding: 16px 30px 30px 30px;
}

.field {
  .field-label {
    font-weight: 700;
  }
}
/**
 * Node event page
 */
.node {
  color: $text-color;
  
  .infos {
    i {
      background-image: url("../images/icon-sprite.svg");
      background-repeat: no-repeat;
    }
    .date {
      background-color: $node-dark-blue;
    }
    .comment-count {
      background-color: $node-blue;
      padding-top: 13px;
      
      i {
        top: 0;
        background-position: 13px -1101px;
      }    
      .count {
        text-align: center;
        display:block;
        z-index: 5;
        position: relative;
        font-size: 11px;
        font-weight: 700;
        color: $node-blue;
      }
    }
    .favourites {
      background-color: $node-light-blue;
      
      i {
        background-position: 12px -1163px;        
      }
    }
    .share {
      background-color: $node-lighter-blue;

      i {
        background-position: 13px -1223px;        
      }
    }
  }
  .field {
    margin-bottom: 10px;
  }
  &.node-esemeny {
    .date {
      background-color: $node-event-dark-orange;
    }
    .comment-count {
      background-color: $node-event-orange;
      
      .count {
        color: $node-event-dark-orange;
      }
    }
    .favourites {
      background-color: $node-event-light-orange;
    }
    .share {
      background-color: $node-event-lighter-orange;
    }
  }
  &.node-forum {
    .date {
      background-color: $node-forum-dark-orange;
    }
    .comment-count {
      background-color: $node-forum-orange;
      
      .count {
        color: $node-forum-dark-orange;
      }
    }
    .favourites {
      background-color: $node-forum-light-orange;
    }
    .share {
      background-color: $node-forum-lighter-orange;
    }
  }
}
article.node a {
  font-style: italic;
  color: $text-link;
}
/**
 * flexslider
 */
.flexslider {
  width: 605px;
  
  li {
    position: relative;
  }
  .title {
    position: absolute;
    bottom: 0;
    color: $white;
    font-size: 26px;
    max-width: 45%;
    bottom: 20px;
    left: 20px;
    line-height: 115%;
    font-weight: 400;
  }
}

/**
 * top-links
 */
.top-links {
  width: 300px;
  margin-top: 46px;
  
  .link {
    background-color: $blue;
    margin-bottom: 5px;
    
    a {
      color: $white;
      font-family: $notosans;
      font-size: $base-font-size + 2;      

      &:hover {
        text-decoration: none;
      }
    }
    &:nth-child(2) i {
      background-image: url("../images/icon-sprite.svg");
      background-repeat: no-repeat;
      background-position: 15px -393px;
    }
    &:nth-child(3) i {
      background-image: url("../images/icon-sprite.svg");
      background-repeat: no-repeat;
      background-position: 14px -451px;      
    }
  }
  .text {
    padding: 17px 10px 0 15px;
    line-height: 100%;
  }
}
footer {
  color: $blue-body-50;
  font-style: italic;
  font-weight: 400;
  padding: 69px 0 69px 20px;
  
  a {
    color: $white;
  }
  p {
    margin: 0;
  }
}

/**
 * comment
 */
#comments {
  width: 606px;
  margin-top: 5px;
  
  section {
    margin-left: 0;
  }
  .field-name-comment-body {
    background-color: $white;
    padding: 16px 30px 16px 30px;
    margin-left: 50px;
    margin-bottom: 5px;
    min-height: 100px;
  }
}
.indented {
  margin-left: 50px;
}

// big screen
@media all and (min-width: 1340px) {
  
  nav {
    .logo {
      img {
        width:180px; 
      }
    }
    .nav-links li {
  
      a {
        font-size: $base-font-size + 2;
      }
  
      &:nth-child(1) a {
        background-position: 0 -112px;
      }
      &:nth-child(2) a {
        background-position: 3px -151px;
      }
      &:nth-child(3) a {
        background-position: 0 -190px;
      }
      &:nth-child(4) a {
        background-position: 0 -232px;
      }
      &:nth-child(5) a {
        background-position: 3px -271px;
      }
      &:nth-child(6) a {
        background-position: 0 -312px;
      }
    }
  }
}
// normal screen
@media all and (min-width: 1000px) and (max-width: 1339px) {
  section {
    width: 917px;
  }

}
// tablet and small screen
@media all and (min-width: 600px) and (max-width: 999px) {

}
// landscape ipad tablet
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}
// mobile device
@media all and (max-width: 599px) {

}
// iPhone 4, 4S Retina landscape
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}