/**
 * @file
 * Layout definitions for the primary level elements.
 */

@import "base";

#main-nav {
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 220px;
}

#content {
  position: relative;
  left: 0;
  top: 0;
  
  #main-content {
    margin-left: 220px;
  }
}

.social-media {
  bottom: 20px;
  font-size: 1.8em;
  line-height: 2em;
  position: absolute;
  width: 100%;
  min-width: 100px;
}
