/**
 * @file
 * Detailed rules for navigation items.
 */

@import "base";

#main-nav {
  .nav-links {
    margin: 73px 0 0 0;
    padding: 0;
    border-top: 1px solid $black-25;
        
    li {
      padding: 7px $basemargin;
      @include box-shadow(0px 1px 0px $white-10);
      border-bottom: 1px solid $black-25;
      
      &:first-child {
        border-top: 1px solid $white-10;
      }
      a {
        padding:0 0 0 28px;
        color: $white;
        text-decoration: none;
        background-image: url("../images/icon-sprite.svg");
        background-repeat: no-repeat;
        font-weight: 400;
      }
      &:nth-child(1) a {
        background-position: 0 -115px;
      }
      &:nth-child(2) a {
        background-position: 3px -154px;
      }
      &:nth-child(3) a {
        background-position: 0 -193px;
      }
      &:nth-child(4) a {
        background-position: 0 -235px;
      }
      &:nth-child(5) a {
        background-position: 3px -274px;
      }
      &:nth-child(6) a {
        background-position: 0 -315px;
      }
    }
  }
  .badge {
    background-color: $dark-blue;
    @include border-radius(4px);
    padding: 5px;
    @include box-shadow(0px 2px 0px $white-10);
  }
}  

